{{page-title "Cart"}}

<GeneralContainer>
    <h1>Shopping Cart</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
        </li>
        <li class="breadcrumb-item">Shopping Cart</li>
    </ol>
    {{#each this.shoppingCart.itemList as |item|}}
    <div class="cart-item d-flex align-items-center">
        <div class="cart-item-thumbnail">
            <img src={{item.image}} alt="">
        </div>
        <div class="ml-3">
            <h4>{{item.name}}</h4>
            <i class="font-weight-bold">{{currency item.price}}</i>
        </div>
        <input type="number" class="ms-auto" value={{item.count}} {{on "input" (fn this.updateItemCount item)}}>
    </div>
    {{/each}}
    <div class="d-flex flex-column mb-5">
        <div class="row w-50 d-flex align-self-end">
            <div class="col d-flex flex-row-reverse">
                Subtotal
            </div>
            <span class="col d-flex flex-row-reverse">
                {{currency this.subtotal}}
            </span>
        </div>
        <div class="row w-50 d-flex align-self-end">
            <span class="col d-flex flex-row-reverse">
                Tax
            </span>
            <span class="col d-flex flex-row-reverse">
                {{currency this.tax}}
            </span>
        </div>
        <div class="row w-50 d-flex align-self-end">
            <span class="col d-flex flex-row-reverse">
                Total
            </span>
            <span class="col d-flex flex-row-reverse">
                {{currency this.total}}
            </span>
        </div>
    </div>
    <div class="w-100 d-flex flex-row-reverse">
        <button type="button" class="btn btn-success">Check out</button>
    </div>
</GeneralContainer>